

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.bg-header-class{
    background-color: rgba(255, 144, 14, 0.1);

}
.display-flex{
    display: flex;
}

/* dark02 */
.dark02{
    color: rgba(66, 66, 66, 1);
}
/* dark01 */
.dark01{
    color: rgba(19, 19, 19, 1);
}
/* dark03 */
.dark03{
    color: rgba(114, 114, 114, 1);

}

.main{
    max-width: 1440px;
    margin: 0 auto;
}




/* Navbar Styles */
.navbar-title, .banner{
     max-width: 1440px;
    margin: 0 auto;
}
.navbar-title{
    justify-content: space-between;
    /* max-width: 1440px;
    margin: 0 auto; */
}
.logo-title{
    font-weight: bold;
    font-size: 2.8rem;
    
}
.navbar ul li{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    
}


/* banner sectio */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;

}
.of-our{
    font-weight: bold;
}
.button-class{
    background-color: #FF900E;
    width: 11rem;
    height: 4rem;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
}
.button-class:hover{
    background-color: #b99975;
}
.button-class a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;
    /* padding: 20px 25px;*/

}
.banner-img{
    width: 100%;
    margin-bottom: 45px;

}


/* quick list of features */
.quick-list{
    align-items: center;
}
.list-heading{
    font-size: 2.8rem;
}
.feature-title{
    color: #FF900E;
    
}
.team-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    margin-top: 85px;
    margin-left: 61px;

}
.team-content{
    max-width: 530px;
    margin-left: 73px;
}

/* features you will love section */
.featureClassSection{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    margin-top: 130px;
    justify-content: space-between;
    /* margin-bottom: 130px; */
   
    
}
.featuresClass{
    /* max-width: 100%; */
    margin-top: 169px;

    /* max-height: 982px; */

}
.features-heading{
    font-size: 2.8rem;
    font-weight:bold;
    max-width: 466px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 0px;
    
}
.featuresheadDes{
    margin-top: 24px;
}

.features-card{
    max-width: 586px;
    max-height: 171px;
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06) ;
    gap: 20px;
}
.features-header{
    font-size: 1.3rem;
    font-weight: 600;
}
.pictureClass{
    margin-top: 130px;
    margin-left: 145px;
}
.pictureFeature{
     width: 100%;
    /* max-height: 982px; */
}
.tenYear{
    font-size: 3rem;
    font-weight: bold;
}
.experience{
    font-size: 1.3rem;
    font-weight: 500;
}
.Tenyear-button{
    width: 342px;
    height: 180px; 
    padding: 32px;
    border: none;
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 8px ;
    margin-left: -100px;
    margin-top: -100px;

}

/* logo */
/* .factSectionClass{
    margin-top: 130px;
} */
.factdescrip{
    margin-top: 26px;
}
.fact-class{
    margin-top: 130px;
    max-width: 542px;
}
.logo-descrip{
    font-size: 1.2rem;
    margin: 0px;
}
.fact-some{
    font-size: 2.8rem;
    font-weight: bold;
}
.number-achi{
    font-weight: 600;
    font-size: 2.8rem;
    margin: 0px;
}
.logo{
    border: 1px solid #FF900E;
    border-radius: 8px;
    max-width: 241px;
    max-height: 241px;
}
.logo-content{
    text-align: center;
    width: 169px;
    padding: 45px 36px 59px 35px;
}
.logoCard-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    margin-top: 100px;
}



/* sponsor section */
.sponsors-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.sponsor{
    margin-top: 180px;
    text-align: center;
}
.sponsor-container{
    max-width: 540px;
    margin: 0px auto ;
}
.image-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    filter: grayscale(100%);
    
}

.footerdescription{
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 39px;

}
.footerSection {
    background-color: rgba(255, 244, 231, 1);
    max-width: 1440px;
    height: 100px;
    margin-top: 130px;
    margin-bottom: 216px;
    text-align: center;
    
    
}



/* Responsive media query */

@media screen and ( max-width: 576px) {
    .navbar-title,
    .quick-list,
    .logoCard-container, 
    .image-container,
    .featureClassSection,
    .ul-class{
        flex-direction: column;
        text-align: center ;
        
    }
    .Tenyear-button{
        width: 100%;
    }
    .featuresClass{
        width: 100%;
    }
    .pictureClass{
        margin: 0px;
        width: 100%;
    }
    .featureClassSection{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-title{
        font-size: 2rem;
    }
    .team-content{
        text-align: center;
        margin-left: 0px;
    }
    .team-photo,
    .logoCard-container,
    .image-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        gap: 10px;
    }
    .image-container{
        justify-items: center;
    }
    
    .fact-class{
        text-align: center;

    }
    .logo-title{
        text-align: center;
    }
    .logo{
        margin: 20px auto;
    }

    
    
}

